


<div class="container">
    <div class="card-header text-center">
      <h1>Prueba desarrollador CFA</h1>
    </div>
    <br>
    <div class="card-header text-center">
      <button (click)="Listar()" class="btn btn-success">Listar las ventas realizadas</button>
      <button (click)="Preventa()" class="btn btn-success" style="margin-left:10px;">Gestionar una venta (Preventa)</button>
    </div>
    <br>
    <router-outlet></router-outlet>

    <!-- Footer -->
    <footer class="card-header text-center">
      Yilber Serrano <br>
      yilber.serrano@gmail.com
    </footer>

</div>







