<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Preventa</h3>
        </div>

        <div>
            <table class="table table-striped table-hover">
                <thead class="thead-dark text-center">
                    <tr>
                        <th scope="col">ID PRODUCTO</th>
                        <th scope="col">PRECIO</th>
                        <th scope="col">LUGAR DESPACHO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of productos" class="text-center">
                        <td>{{producto.idprodcuto}}</td>
                        <td>${{producto.precio}}</td>
                        <td>{{producto.lugar}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div class="card-header">
            <h3>Formulario Preventa</h3>
            <p>Ingresa acontinuación el Id del producto disponible, la cantidad a llevar
                y un id de preventa para empezar a realizar el proceso de la preventa!
            </p>
        </div>
        <div class="card-body">
            <form [formGroup]="formularioentradadatos">
              
                <div class="form-group">
                    <label for="">Id del producto: </label>
                    <input [(ngModel)]="preventa.idproducto" name ="idproducto" type="text" class="form-control" formControlName="idproducto" maxlength="10" required
                    [ngStyle]="{'border': formularioentradadatos.get('idproducto').invalid ? '2px solid #919191 ' : '2px solid #00B100'}">
                    <small class="form-text text-muted" *ngIf="formularioentradadatos.get('idproducto').invalid">{{mensajes()[0]}}</small>
                </div>


                <div class="form-group">
                    <label>Cantidad: </label>
                    <input [(ngModel)]="preventa.cantidad" name ="cantidad" type="text" class="form-control" formControlName="cantidad" maxlength="5" required
                    [ngStyle]="{'border': formularioentradadatos.get('cantidad').invalid ? '2px solid #919191 ' : '2px solid #00B100'}">
                    <small class="form-text text-muted" *ngIf="formularioentradadatos.get('cantidad').invalid">{{mensajes()[1]}}</small>
                </div>
                <div class="form-group">
                    <label>Id de la preventa: </label>
                    <input [(ngModel)]="preventa.idpreventa" name ="idpreventa" type="text" class="form-control" formControlName="idpreventa" maxlength="10" required
                    [ngStyle]="{'border': formularioentradadatos.get('idpreventa').invalid ? '2px solid #919191 ' : '2px solid #00B100'}">
                    <small class="form-text text-muted" *ngIf="formularioentradadatos.get('idpreventa').invalid">{{mensajes()[2]}}</small>
                </div>
                <br>
                <button (click)="Registrar()"class="btn btn-danger" [disabled]="formularioentradadatos.invalid">Guardar</button>
            </form>


            

        </div>
    </div>
</div>